### Python ###
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/

# Environments
.env
.venv
env/
venv/

### ROS2 ###
install/
log/
rosbag2*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# Blender files (use glb or other formats instead)
*.blend
*.blend1
